<nav class="mt-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
             {{#link-to "posts"}}Posts{{/link-to}}
        </li>
        <li class="breadcrumb-item active">
            Post
        </li>
    </ol>
</nav>
<div class="row">
    <div class="col col-lg-6">
        {{post-view model=model}}

    </div>
</div>